<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img
          [src]="books.img"
          alt="avatar"
          style="width: 100px; height: 150px"
        />
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{ dialogTitle }}
          </div>
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="dialogRef.close()"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form
      class="register-form m-4"
      [formGroup]="doctorsForm"
      (ngSubmit)="(submit)"
    >
      <div class="row">
        <div class="mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Book Title</mat-label>
            <input matInput formControlName="title" required />
            <mat-icon matSuffix>edit</mat-icon>
            <mat-error *ngIf="doctorsForm.get('title').hasError('required')">
              Title is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author" required />
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="doctorsForm.get('author').hasError('required')">
              Author is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>No of Copies</mat-label>
            <input matInput formControlName="no_of_copies" required />
            <mat-icon matSuffix>menu</mat-icon>
            <mat-error
              *ngIf="doctorsForm.get('no_of_copies').hasError('required')"
            >
              No.of Copies is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Year</mat-label>
            <input matInput formControlName="year" />
            <mat-icon matSuffix>calendar_today</mat-icon>
            <mat-error *ngIf="doctorsForm.get('year').hasError('required')">
              Year is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button
              mat-raised-button
              color="primary"
              [type]="submit"
              [disabled]="!doctorsForm.valid"
              [mat-dialog-close]="1"
              (click)="confirmAdd()"
            >
              Save
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="onNoClick()"
              tabindex="-1"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
