.header{
    padding: 5px 20px;
    background:goldenrod;
}

.title{
    color:black;
    text-decoration: none;
}

.login,.register{
    float: right;
    text-decoration: none;
    color:black;
    padding-top: 10px;
}

.new-journal{
    float: right;
    color: black;
    padding-top: 10px;
}